body {
    background-image: url(back1.jpg);
}

#zagolovok {
    position: absolute;
    left: 200px;
    bottom: 700px;
    right: 200px;
    top: 40px;
    color: #0059AB;
    font-size: 40px;
    background-color: #E7E7FF;
    border: 3px solid #4C5099;
    margin-left: 75px;
    padding: 0px;
    border-radius: 20px;
    opacity: 0.9;
    text-align: center;
}

#zagolovok:hover {
    opacity: 1;
    background: #BAB0C1;
    border-solid: 20px;
}

.poster {
    position: relative;
    color: #007DC1;
    font-size: 25px;
    margin: 100px;
    background: #8ED6D6;
    height: 100px;
    width: 350px;
    margin-top: 300px;
    border-radius: 20px;
    border: 2px solid #6C6C6C;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #224553;
    position: relative;
    bottom: 15px;
}

.block1 {
    position: absolute;
    background: #6EB3C1;
    color: #BF2DC1;
    border-radius: 20px;
    border: 2px solid #224553;
    text-align: center;
    font-size: 70%;
    padding: 0px;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
}

.poster:hover .block1 {
    display: block;
    position: center;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    width: 390px;}

.poster2 {
    position: absolute;
    top: 0px;
    color: #0D5CC1;
    font-size: 25px;
    margin: 550px;
    background: #8ED6D6;
    height: 100px;
    width: 350px;
    margin-top: 300px;
    border-radius: 20px;
    border: 2px solid #6C6C6C;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.block2 {
    position: absolute;
    background: #6EB3C1;
    color: #BF2DC1;
    border-radius: 20px;
    border: 2px solid #224553;
    text-align: center;
    font-size: 70%;
    padding: 0px;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
}

.poster2:hover .block2 {
    display: block;
    position: center;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    width: 390px;}

.poster3 {
    position: absolute;
    top: 0px;
    color: #094088;
    font-size: 25px;
    margin: 1000px;
    background: #8ED6D6;
    height: 100px;
    width: 350px;
    margin-top: 300px;
    border-radius: 20px;
    border: 2px solid #6C6C6C;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.block3 {
    position: absolute;
    background: #6EB3C1;
    color: #BF2DC1;
    border-radius: 20px;
    border: 2px solid #224553;
    text-align: center;
    font-size: 60%;
    padding: 0px;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
}

.poster3:hover .block3 {
    display: block;
    position: center;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    width: 390px;}

.poster4 {
    position: absolute;
    top: 0px;
    color: #062956;
    font-size: 25px;
    margin: 1450px;
    background: #8ED6D6;
    height: 100px;
    width: 350px;
    margin-top: 300px;
    border-radius: 20px;
    border: 2px solid #6C6C6C;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.block4 {
    position: absolute;
    background: #6EB3C1;
    color: #BF2DC1;
    border-radius: 20px;
    border: 2px solid #224553;
    text-align: center;
    font-size: 60%;
    padding: 0px;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
}

.poster4:hover .block4 {
    display: block;
    position: center;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    width: 390px;
}


